body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 h1{
   color: rgba(151, 0, 0, 0.979);

 } 
 
 #imagem-principal{
   width: 1000px;
    border-radius: 30px;
 }  
    h2{
      color: rgba(0, 107, 27, 0.979);
       
    }
    #imagem-secundaria{
   width: 300px;
    border-radius: 30px;
 } 
     #imagem-terciaria{
   width: 750px;
    border-radius: 30px;
 } 